@import url("/node_modules/@fontsource/kanit/index.css");

:root {
  --color-background: #f5f2f0;
  --color-primary: #696f6a;
  --color-secondary: #696f6a7d;
}

*,
*::after,
*::before {
  display: inline-block;
}

html {
  font-family: "Kanit", sans-serif;
  color: var(--color-primary);
}

body {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

head {
  display: none;
}

title {
  display: none;
}

ul,
li {
  list-style: none;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  color: inherit;
  padding: 1rem;
}

ul > li {
  border: var(--color-secondary) 1px solid;
}
